		div.header {
			background-color:black;
			color:white;
			text-align:center;
			padding:5px;
		}
		.nav {
			float:left;
			height:775px;
			width:180px;
			text-align:right;
			padding:0;
			background-color:#bebebe;
		}
		.section {
			width:500px;
			float:left;			
			margin-left:0px;
			padding:10px;
			font-size:17px;
		}
		form span {
			color:red;
		}
		form label {
			margin:0;
			padding:0;
  		}
		.footer {
			background-color:black;
			color:white;
			clear:both;
			text-align:center;
			padding:5px;
		}
		.guide {
			list-style-type:none;
			margin:0;
			padding:0;
		}
		.guide a:link,a:visited {
			display:block;
			font-weight:bold;
			color:white;
			width:180px;
			background-color:#bebebe;
			text-align:center;
			padding-bottom:50px;
			padding-top:50px;
			text-decoration:none;
			text-transform:uppercase;
		}
		.guide a:hover,a:active {
			background-color:#cc0000;
		}