<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
    <link rel='stylesheet' type='text/css' href='\static\WebStyle1.css'>
    <style>
        form span {
            color:red;
        }
        label {
            font-size:15px;
        }
        input {
            margin-top:8px;
            font-size:19px;
        }
    </style>
</head>

<body style='margin:0 auto;background-color: #f8f8f8;'>
<div class='header'>
    <h2 style="margin-top: 10px;">欢迎来到留言簿</h2>
</div>

<div style='text-align:center;height:785px;padding:10px;font-size:17px;'>