<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
    <link rel='stylesheet' type='text/css' href='\static\WebStyle.css'>
    <style>
        form span {
            color:red;
        }

        .my_text td {
            padding-top: 20px;
            padding-bottom: 50px;
        }
    </style>
</head>

<body style='margin:0 auto;'>
<div class='header'>
    <h1>欢迎来到留言簿test项目</h1>
</div>

<div class='guide'>
    <ul>
        <li>
            <a class="guide" href="/home">写留言</a>
        </li>
        <li>
            <a class="guide" href="/showMyArticle">我的留言</a>
        </li>
        <li>
            <a class="guide" href="/forum">留言展示</a>
        </li>
        <li>
            <a class="guide" href="/logout">退出登录</a>
        </li>
    </ul>
</div>