{include file='index/header' title="写留言" /}

<div style='text-align:center;height:711px;'>
    <form accept-charset="UTF-8" action="/addMyArticle" method='post'>
    <div style='width:550px;height:400px;padding:20px;text-align:center;margin:0 auto;border-bottom: 1px solid #eee;padding-bottom: 70px;'>
<h3>亲爱的 {$user.nickname}, 请填写您的留言:</h3>
<div style='width:750px;margin:0 auto;text-align:left;'>
    <label for='message'><span>*</span>留言少于1000字:</label>
<textarea style='display:block;font-size:18px;' name='message' rows='15' cols='60'>{$text}</textarea>
</div></br>
<input style='font-size:20px;' type='submit' value='提交'>
    </div>
    </form>
    </div>
{include file="index/footer" /}










